.tip-calc-card {
  background-color: var(--tip-calc-color-white);
  border-radius: 20px;
  padding: 30px;

  &__inner {
    align-items: center;
    display: flex;
    justify-content: space-between;
  }

  &__left,
  &__right {
    display: flex;
    flex: 0 0 50%;
  }

  &__right {
    background-color: var(--tip-calc-color-cape-cod);
    border-radius: 15px;
    padding: 30px;
    color: var(--tip-calc-color-white);
  }
}
