<div class="tip-calc">
  <tip-calc-card>
    <div left>
      <tip-calc-input label="Bill"></tip-calc-input>
      <label>Selecione % da Gorjeta</label>
      <tip-calc-button label="5%"></tip-calc-button>
      <tip-calc-button label="10%"></tip-calc-button>
      <tip-calc-button label="15%"></tip-calc-button>
      <tip-calc-button label="25%"></tip-calc-button>
      <tip-calc-button label="50%"></tip-calc-button>
      <tip-calc-input label="Número de pessoas"></tip-calc-input>
    </div>
    <div right>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    </div>
  </tip-calc-card>
</div>
